@mixin spacer($spacing, $positions) {
    @each $position in $positions {
        @if ($position == left) {
            margin-left: rem-calc($spacing) !important;
        }

        @if ($position == right) {
            margin-right: rem-calc($spacing) !important;
        }

        @if ($position == top) {
            margin-top: rem-calc($spacing) !important;
        }

        @if ($position == bottom) {
            margin-bottom: rem-calc($spacing) !important;
        }
    }
}

@mixin spacer-class($name, $positions: null) {
    .#{$name}--xl {
        @include spacer($spacing * 4, $positions);
    }

    .#{$name}--l {
        @include spacer($spacing * 2, $positions);
    }

    .#{$name} {
        @include spacer($spacing, $positions);
    }

    .#{$name}--s {
        @include spacer($spacing / 2, $positions);
    }

    .#{$name}--xs {
        @include spacer($spacing / 4, $positions);
    }
}

@mixin spacer-html-classes($size) {
    .#{$size}no-spacer {
        margin: 0 !important;
    }

    .#{$size}no-top-spacer {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .#{$size}no-bottom-spacer {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    @include spacer-class(#{$size}left-spacer, left);
    @include spacer-class(#{$size}right-spacer, right);
    @include spacer-class(#{$size}top-spacer, top);
    @include spacer-class(#{$size}bottom-spacer, bottom);
    @include spacer-class(#{$size}both-spacer, (top, bottom));
    @include spacer-class(#{$size}all-spacer, (left, right, top, bottom));
}

@media #{$small-up} {
    @include spacer-html-classes($size: small-);
}

@media #{$medium-up} {
    @include spacer-html-classes($size: medium-);
}

@media #{$large-up} {
    @include spacer-html-classes($size: large-);
}

@media #{$screen} {
    @include spacer-html-classes($size: null);
}
